<!doctype html>

<html lang="fa-IR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>سفارش آنلاین غذا از بهترین رستوران‌ها و فست فودها | ریحون</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="9423110">
    <meta name="copyright" content="9423110">
    <meta name="description"
          content="ریحون سریعترین راه سفارش آنلاین غذا است. منو عکس دار رستوران ها و فست فودهای اطرافتان را به صورت اینترتنی مشاهده کنید و غذایتان را به صورت شبانه روزی سفارش دهید">
    <link rel="icon" type="image/ico" href="../mocks/favicon.ico">
    <link rel="stylesheet" href="../assets/global.css">
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/singleRestaurant.css">
</head>
<body>
<!--header section-->
<div id="header-c">
    <header-component></header-component>
</div>


<div id ="app">
    <!-- banner / restaurant details -->
    <section class="Banner-section">
        <div class="Banner-Background-image">
            <img class="Banner-Background-image-inner"
                 :src=" 'http://restfulapi.test/img/'+ this.restaurant_object.background">
        </div>
        <div class="Restaurant-overview-div">
            <div class="Restaurant-overview-inner">

                <!-- address order -->
                <ol class="Restaurant-overview-food-cat-1 Restaurant-overview-food-cat-2">
                    <!-- address element -->
                    <li class="Restaurant-overview-food-cat-item">
                        <a href="/" class="Restaurant-overview-food-cat-item-a">
                            <span>ریحون</span>
                        </a>
                        <span class="Flash-arrow-address-1 Flash-arrow-address-2 Flash-arrow-address-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 20"><path fill="currentColor" fill-rule="evenodd" d="M9.17 19.708L.607 11.444a1.95 1.95 0 0 1 0-2.827L9.232.292c.4-.385 1.048-.39 1.454-.01a.976.976 0 0 1 .011 1.425L2.803 9.324a.975.975 0 0 0 0 1.414l7.831 7.557a.974.974 0 0 1 0 1.413c-.405.39-1.06.39-1.464 0z"></path></svg></span>
                        <a href="/" class="Restaurant-overview-food-cat-item-a">
                            <span>{{this.restaurant_object.city}}</span>
                        </a>
                        <span class="Flash-arrow-address-1 Flash-arrow-address-2 Flash-arrow-address-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 20"><path fill="currentColor" fill-rule="evenodd" d="M9.17 19.708L.607 11.444a1.95 1.95 0 0 1 0-2.827L9.232.292c.4-.385 1.048-.39 1.454-.01a.976.976 0 0 1 .011 1.425L2.803 9.324a.975.975 0 0 0 0 1.414l7.831 7.557a.974.974 0 0 1 0 1.413c-.405.39-1.06.39-1.464 0z"></path></svg></span>
                        <a href="/" class="Restaurant-overview-food-cat-item-a">
                            <span style="color:#777">{{this.restaurant_object.area}}</span>
                        </a>
                    </li>
                </ol>

                <div class="return-back-div">

                 <a href="" class="return-back-link" onclick="window.history.back()">
                        بازگشت
                        <span class="Restaurant-address-flash-1 Restaurant-address-flash-2 Restaurant-address-flash-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 20"><path fill="currentColor" fill-rule="evenodd" d="M9.17 19.708L.607 11.444a1.95 1.95 0 0 1 0-2.827L9.232.292c.4-.385 1.048-.39 1.454-.01a.976.976 0 0 1 .011 1.425L2.803 9.324a.975.975 0 0 0 0 1.414l7.831 7.557a.974.974 0 0 1 0 1.413c-.405.39-1.06.39-1.464 0z"></path></svg>
                        </span>
                  </a>

                </div>

                <div class="Restaurant-logo-1 Restaurant-logo-2">
                    <img :src=" 'http://restfulapi.test/img/' + this.restaurant_object.logo"
                         class="restaurant_logo_class">
                </div>

                <div class="Restaurant-name-div">
                    <h1 class="Restaurant-name-h">
                        <a class="Restaurant-link-itself">{{this.restaurant_object.name}}</a>
                    </h1>
                </div>


                <div class="Restaurant-header-rating">
                    <div class="Restaurant-header-rating-1 Restaurant-header-rating-active Restaurant-header-rating-3">
                        <div class="Restaurant-header-rating-count">
                            <span class="Restaurant-header-rating-count-value">({{this.comments.length}})</span>
                        </div>
                        <div class="Restaurant-header-rating-star">
                            <div class="Restaurant-header-rating-star-content">
                                <star-rating style="direction: ltr" :star-size="20" :rating=this.restaurant_object.average_rating :read-only="true" :show-rating="false" :increment="0.01"></star-rating>
                            </div>
                        </div>
                        <div class="Restaurant-header-rating-star-value-1 Restaurant-header-rating-star-value-2">{{this.restaurant_object.average_rating}}</div>
                    </div>
                </div>

                <div class="Restaurant-header-foods">
                    <ul class="Restaurant-header-foods-ul-1 Restaurant-header-foods-ul-2">
                        <!-- foods category here -->
                        <li class="Restaurant-header-foods-li" v-for="cat in this.categories">{{cat.name}}</li>
                    </ul>
                </div>
                <address class="Restaurant-header-address" >{{this.restaurant_object.addressLine}}</address>
            </div>
        </div>
    </section>

    <div style="">
        <!-- quick access menu -->
        <div class="quick-access-menu-div" id="horizontal-navigation-menu">
            <ul class="quick-access-menu-ul-1 quick-access-menu-ul-2">
                <li class="quick-access-menu-li">
                    <a class="quick-access-menu-a" href="#Restaurant-quick-category-div">منوی رستوران</a>
                </li>
                <li class="quick-access-menu-li">
                    <a class="quick-access-menu-a" href="#branch-info">اطلاعات رستوران</a>
                </li>
                <li class="quick-access-menu-li">
                    <a class="quick-access-menu-a" href="#branch-comment">نظرات کاربران</a>
                </li>
            </ul>
        </div>

        <!-- food branch -->
        <section id="Restaurant-quick-category-div" class="restaurant-food-items-container">

            <!-- category list -->
            <div class="restaurant-food-cat-slide">
                <ul class="quick-access-menu-ul-1 quick-access-menu-ul-2 quick-access-menu-ul-3">
                    <!-- food menu category component here -->
                    <li class="quick-access-menu-li">
                        <a class="quick-access-menu-a" :href="'#category_' + cat.name" v-for="cat in this.categories">
                            {{cat.name}}
                        </a>
                    </li>
                </ul>
            </div>

            <!-- search menu -->
            <div class="search-food-single">
                <div class="search-food-single-inner">
                    <div class="search-food-single-inner-1 search-food-single-inner-2">
                        <div class="search-food-single-box search-food-single-box-1 search-food-single-box-2">
                            <input placeholder="مثلا برگر" class="search-food-single-input"
                                   id="search_rest_name_input" v-on:input="searchRestaurantByName">
                            <span class="search-food-single-input-span"></span>
                            <label class="search-food-single-label">جستجو در منوی این رستوران</label>
                            <div class="search-food-icon">
                                <span class="search-food-span-1"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><g fill="none" fill-rule="evenodd"><path d="M0 0h18v18H0z"></path><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(2 2)"><circle cx="6.125" cy="6.125" r="6.125"></circle><path d="M13.373 13.373l-2.767-2.767"></path></g><path d="M0 0h18v18H0z"></path></g></svg></span>
                            </div>
                            <div style="display: none;">
                                <span class="search-food-redLine1 search-food-redLine2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><g fill="none" fill-rule="evenodd"><path fill="currentColor" fill-rule="nonzero" d="M9 1.5A7.493 7.493 0 0 0 1.5 9c0 4.148 3.353 7.5 7.5 7.5 4.148 0 7.5-3.352 7.5-7.5 0-4.147-3.352-7.5-7.5-7.5zm3.75 10.193l-1.057 1.057L9 10.057 6.308 12.75 5.25 11.693 7.942 9 5.25 6.308 6.308 5.25 9 7.942l2.693-2.692 1.057 1.058L10.057 9l2.693 2.693z"></path><path d="M0 0h18v18H0z"></path></g></svg></span>
                            </div>
                            <div class="search-food-empty-div"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- each food category -->
            <div :id="'category_' + cat.name" class="search-food-single" v-for="cat in this.categories">
                <div class="search-food-single-inner">
                    <div class="search-food-single-inner-1 search-food-single-inner-2">
                        <div class="search-food-single-inner-4">
                            <span class="search-food-span-present"></span>
                            <div class="search-food-category-name-div">
                                <h2 class="search-food-category-name-h" >{{cat.name}}</h2>
                                <span class="Restaurant-address-flash-1 Restaurant-address-flash-2 Restaurant-address-flash-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 20"><path fill="currentColor" fill-rule="evenodd" d="M9.17 19.708L.607 11.444a1.95 1.95 0 0 1 0-2.827L9.232.292c.4-.385 1.048-.39 1.454-.01a.976.976 0 0 1 .011 1.425L2.803 9.324a.975.975 0 0 0 0 1.414l7.831 7.557a.974.974 0 0 1 0 1.413c-.405.39-1.06.39-1.464 0z"></path></svg></span>
                            </div>
                        </div>
                        <div class="Restaurant-foods-in-category">
                            <!-- active food -->
                            <div class="Restaurant-food-in-category" v-for="food in cat.foods" v-show="food.display">
                                <div class="Restaurant-food-in-category-div">
                                    <div class="Restaurant-fic-name">
                                        <div class="Restaurant-fic-name-div">
                                            <p class="Restaurant-fic-name-p">
                                                {{food.name}}
                                            </p>
                                        </div>
                                        <div class="Restaurant-fic-price-inactive">
                                            <div>
                                                <p class="Restaurant-fic-price" :content=food.price>{{food.price.toLocaleString()}}</p>
                                                <span content="تومان" class="Restaurant-fic-currency" >تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Restaurant-fic-details">
                                        <div class="Restaurant-fic-details-inner">
                                            <div class="Restaurant-fic-details-text">{{food.description}}</div>
                                            <div class="Restaurant-fic-finish-message">
                                                <div class="Restaurant-fic-add-shop Restaurant-fic-add-shop-2">
                                                    <button class="Restaurant-fic-add-shop-button Restaurant-fic-add-shop-button-2 Restaurant-fic-add-shop-button-3">
                                                        <span class="Restaurant-fic-add-plus">+</span>
                                                        <span class="Restaurant-fic-add-text">افزودن به سبد خرید</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Restaurant-fic-image">
                                            <img class="Restaurant-fic-image-img"
                                               :src=" 'http://restfulapi.test/img/'+ food.image">

                                            <span class="Restaurant-fic-magn">
                                                <span class="Restaurant-fic-magn-inner1 Restaurant-fic-magn-inner2"><svg viewBox="0 0 18 18" class="Restaurant-fic-magn-inner2"><g fill="none" fill-rule="evenodd"><path d="M0 0h18v18H0z"></path><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(2 2)"><circle cx="6.125" cy="6.125" r="6.125"></circle><path d="M13.373 13.373l-2.767-2.767"></path></g><path d="M0 0h18v18H0z"></path></g></svg>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                            &lt;!&ndash;finished food&ndash;&gt;-->
<!--                            <div class="Restaurant-food-in-category">-->
<!--                                <div itemscope="" itemtype="http://schema.org/Product" role="presentation" class="Restaurant-food-in-category-div Restaurant-food-inactive">-->
<!--                                    <div class="Restaurant-fic-name">-->
<!--                                        <div class="Restaurant-fic-name-div">-->
<!--                                            <p class="Restaurant-fic-name-p">-->
<!--                                                باقالی پلو با ماهیچه گوسفندی-->
<!--                                            </p>-->
<!--                                        </div>-->
<!--                                        <div class="Restaurant-fic-price-inactive">-->
<!--                                            <div>-->
<!--                                                <p class="Restaurant-fic-price" content="84000">84,000</p>-->
<!--                                                <span content="تومان" class="Restaurant-fic-currency" >تومان</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="Restaurant-fic-details">-->
<!--                                        <div class="Restaurant-fic-details-inner">-->
<!--                                            <div class="Restaurant-fic-details-text">دوشنبه ها، برنج درجه ۱ ایرانی، دم کشیده با شوید تازه، باقالی تازه، ماهیچه تازه گوسفندی ۴۵۰ الی ۵۰۰ گرمی و ته چین</div>-->
<!--                                            <div class="Restaurant-fic-finish-message">-->
<!--                                                <span class="Restaurant-fic-finish-text">تمام شد!</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="Restaurant-fic-image">-->
<!--                                            <img class="Restaurant-fic-image-img" src="https://dist.reyhoon-static.com/web-assets/images/default_menu_item.jpg?x-oss-process=image/resize,s_90/crop,w_90,h_90,g_center/quality,q_80" alt="باقالی پلو با ماهیچه گوسفندی">-->
<!--                                            <span class="Restaurant-fic-magn">-->
<!--                                                <span class="Restaurant-fic-magn-inner1 Restaurant-fic-magn-inner2"><svg viewBox="0 0 18 18" class="Restaurant-fic-magn-inner2"><g fill="none" fill-rule="evenodd"><path d="M0 0h18v18H0z"></path><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(2 2)"><circle cx="6.125" cy="6.125" r="6.125"></circle><path d="M13.373 13.373l-2.767-2.767"></path></g><path d="M0 0h18v18H0z"></path></g></svg>-->
<!--                                                </span>-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        -->
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <!-- info branch -->
        <section id="branch-info" class="Restaurant-info-outer-section">
            <div class="search-food-single-inner">
                <div class="Restaurant-info-outer-text">
                    <h2 class="Restaurant-info-outer-text-h">اطلاعات رستوران</h2>
                </div>
                <div class="Restaurant-info-inner">
                    <div class="Restaurant-info-inner-details">
                        <div class="Restaurant-info-inner-detail-1">
                            <h3 class="Restaurant-info-name">{{this.restaurant_object.name}}</h3>
                            <address class="Restaurant-info-address">
                                <span class="Restaurant-info-address-span1 Restaurant-info-address-span2"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17"><path fill="currentColor" fill-rule="evenodd" d="M6 0C2.683 0 0 2.66 0 5.95 0 10.412 6 17 6 17s6-6.588 6-11.05C12 2.66 9.317 0 6 0zm0 8a2 2 0 1 1 .001-4.001A2 2 0 0 1 6 8z"></path></svg>
                                </span>{{this.restaurant_object.addressLine}}
                            </address>
                            <h3 class="Restaurant-info-time">
                                <span class="Restaurant-fic-magn-inner1 Restaurant-info-address-span2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14"><path fill="#000000" fill-rule="nonzero" d="M6.514.84C3.348.84.782 3.599.782 7s2.566 6.16 5.732 6.16c3.165 0 5.732-2.758 5.732-6.16S9.679.84 6.514.84zm0 2.133c.243 0 .44.212.44.473v3.08H9.38c.243 0 .44.212.44.474s-.197.474-.44.474H6.514c-.244 0-.441-.212-.441-.474V3.446c0-.261.197-.473.44-.473z"></path></svg>
                                </span>ساعت سفارش گیری
                            </h3>
                            <ul class="Restaurant-info-day">
                                <li class="Restaurant-info-day-li">
                                    <p>همه روزه</p>
                                    <div>
                                        <p class="Restaurant-info-day-from">
                                            <span> از ساعت</span>
                                            <span>{{this.restaurant_object.openingTime}}</span>
                                            <span>الی ساعت</span>
                                            <span>{{this.restaurant_object.closingTime}}</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="Restaurant-info-map">
                        <a class="Restaurant-info-map-link" href="https://map.cedarmaps.com/pin/35.7381089575564,51.4119172096252/16/35.7381089575564/51.4119172096252" target="_blank" rel="nofollow noopener noreferrer">
                            <img class="Restaurant-info-map-image" src="https://api.cedarmaps.com/v1/static/light/
      35.7381089575564,51.4119172096252,16/364x278@2x?access_token=db830a0c0e74470b6ac47ba1efc23ec5055fbb1c&amp;markers=https://dist.reyhoon-static.com/web-assets/images/map-marker.png?x-oss-process=image/resize,w_80|35.7381089575564,51.4119172096252" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- comment branch -->
        <section id="branch-comment" class="Restaurant-comments-section">
            <div class="search-food-single-inner">
                <div class="Restaurant-info-outer-text">
                    <h2 class="Restaurant-info-outer-text-h"> نظرات کاربران در مورد {{this.restaurant_object.name}}</h2>
                    <p class="Restaurant-comments-section-p">شما هم می‌توانید بعد از سفارش از این رستوران، نظر خود را درباره‌ی این رستوران ثبت کنید.</p>
                </div>
                <div class="Restaurant-comments-rating">
                    <div class="Restaurant-header-rating-1 Restaurant-header-rating-active Restaurant-header-rating-3">
                        <div class="Restaurant-header-rating-count">
                            <span class="Restaurant-header-rating-count-value">
                                ({{this.comments.length}})
                            </span>
                        </div>
                        <div class="Restaurant-header-rating-star">
                            <div class="Restaurant-header-rating-star-content">
                                <star-rating style="direction: ltr" :star-size="20" :rating=this.restaurant_object.average_rating :read-only="true" :show-rating="false" :increment="0.01"></star-rating>
                            </div>
                        </div>
                        <div class="Restaurant-header-rating-star-value-1">{{this.restaurant_object.average_rating}}</div>
                    </div>
                </div>
                <div class="Restaurant-rating-parameters">
                    <!-- item slider component here -->
                    <div class="Restaurant-rating-parameters-item-1
                     Restaurant-rating-parameters-item-2" v-for="rate in avg_ratings">
                        <div class="Restaurant-rpi-value-container">
                            <div class="Restaurant-rpi-value-slider">
                                <div class="Restaurant-rpi-value-slider-inner" :style="'width:'+(100*rate.value)/5 +'%'"></div>
                            </div>
                            <div class="Restaurant-rpi-value-slider-number">{{rate.value}}</div>
                        </div>
                        <h3 class="Restaurant-rpi-value-slider-title">{{translateEnglishToPersian(rate.key)}}</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- user comments -->
        <section class="Restaurant-user-comments-section">
            <div class="Restaurant-ucs-inner">
                <!-- comment components here -->
                <div class="Restaurant-ucs-user-comment" v-for="com in this.comments">
                    <p class="Restaurant-ucs-user-name">
                        <span>{{com.author}}</span>
                    </p>
                    <div class="Restaurant-ucs-rating">
                        <p class="Restaurant-ucs-rating-value" >{{com.quality}}</p>
                        <div class="Restaurant-header-rating-star-content Restaurant-ucs-rating-star">
                            <star-rating style="direction: ltr" :star-size="16" :rating=com.quality :read-only="true" :show-rating="false" :increment="0.01"></star-rating>
                        </div>
                    </div>
                    <p class="Restaurant-ucs-message">
                        <span class="Restaurant-fic-magn-inner1 Restaurant-ucs-message-qu">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10"><g fill="none"><path fill="#d40062" d="M6 17h3l2-4V7H5v6h3l-2 4zm8 0h3l2-4V7h-6v6h3l-2 4z" transform="translate(-5 -7)"></path><path d="M-5-7h24v24H-5z"></path></g></svg>
                        </span>
                        {{com.text}}
                    </p>
                    <p class="Restaurant-ucs-comment-time">{{daysBetween(com.created_at)}} روز قبل </p>
                    <span class="Restaurant-ucs-comment-report">گزارش</span>
                </div>
            </div>
        </section>
    </div>

    <!-- shop -->
    <div class="Restaurant-shop-section">
        <div class="Restaurant-shop-section-empty"></div>
        <div class="Restaurant-ss-inner">
            <div class="Restaurant-ss-header">
                <button class="Restaurant-ss-button">
                    <span class="Restaurant-ss-span-1 Restaurant-ss-span-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M10.894 13.59c.527.527 1.355.502 1.881-.025a1.31 1.31 0 0 0 0-1.857l-4.34-4.34 4.416-4.416a1.272 1.272 0 0 0 0-1.807 1.272 1.272 0 0 0-1.807 0L6.63 5.561l-4.34-4.34a1.31 1.31 0 0 0-1.858 0c-.526.527-.552 1.355-.025 1.881l4.34 4.341-4.39 4.39c-.502.502-.527 1.33-.025 1.832s1.33.477 1.832-.025l4.39-4.39 4.34 4.34z"></path></svg>
                    </span>
                </button>
                <p class="Restaurant-ss-parag">
                    <span class="Restaurant-fic-magn-inner1 Restaurant-ss-p-icon">
                        <svg class="Restaurant-ss-p-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20"><g fill="transparent" fill-rule="evenodd"><path d="M-4-2h24v24H-4z"></path><g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M1.333.667h13.333v18.667H1.333zM5.333 6h5.334M5.333 10h5.334M5.333 14h5.334"></path></g></g>
                        </svg>
                    </span>
                    سبد خرید شما
                </p>
            </div>
            <section class="Restaurant-ss-details">
                <div class="Restaurant-ssd-header">
                    <div class="Restaurant-ssd-header-inner">
                        <img src="https://reyhoon.com/react-assets/dist/0b4a2f2a.svg" alt="">
                        <p class="Restaurant-ssd-header-p">سبد خرید شما خالی است</p>
                    </div>
                    <ul class="Restaurant-ssd-header-ul">
                        <!-- item component here -->
                        <li class="Restaurant-ssd-order-item">
                            <div class="Restaurant-ssd-order-outter">
                                <div class="Restaurant-ssd-order-outter2">
                                    <button class="Restaurant-ssd-button- Restaurant-ssd-button-2">
                                        <span class="Restaurant-ssd-span-2">-</span>
                                    </button>
                                    <span class="Restaurant-ssd-food-count">1</span>
                                    <button class="Restaurant-ssd-button- Restaurant-ssd-order-button+">
                                        <span class="Restaurant-ssd-span-2">+</span>
                                        <span class="Restaurant-ssd-order-add">افزودن به سبد خرید</span>
                                    </button>
                                </div>
                            </div>
                            <p class="Restaurant-ssd-order-item-name">پیتزا کویین</p>
                            <div class="Restaurant-ssd-order-item-price" >
                                <span class="Restaurant-ssdoitem-price-value1 Restaurant-ssdoipvalue2">41,500</span>
                                <span content="تومان" class="Restaurant-ssdoip-currency">تومان</span>
                            </div>
                        </li>
                    </ul>
                    <button class="Restaurant-ssd-header-button">
                        <span class="Restaurant-ssd-header-plus">+</span>
                        افزودن موارد بیشتر
                    </button>
                    <button class="Restaurant-ssd-button-empty">پاک کردن لیست</button>
                </div>
                <div class="Restaurant-ssd-items">
                    <div class="Restaurant-ssd-inner">
                        <label>برای رستوران یادداشتی دارید؟ اینجا بنویسید...</label>
                        <input id="instructions" class="Restaurant-ssd-note" label="برای رستوران یادداشتی دارید؟ اینجا بنویسید..." icon="[object Object]" placeholder="مثلا نوشابه مشکی باشد" value="">
                        <div class="Restaurant-ssdoip-choice">
                            <div class="Restaurant-ssdoipc-1 Restaurant-ssdoipc-2 Restaurant-ssdoipc-3" data-tip="نوشابه مشکی">
                                نوشابه مشکی

                            </div>
                        </div>
                    </div>
                </div>
                <div class="Restaurant-shop-sum-price">
                    <p class="Restaurant-shop-sum-price-p">مجموع سبد خرید</p>
                    <div>
                        <p class="Restaurant-fic-price Restaurant-shop-sum-icon">0</p>
                        <span content="تومان" class="Restaurant-fic-currency">تومان
                        </span>
                    </div>
                </div>
                <div class="Restaurant-shop-sum-price">
                    <p class="Restaurant-shop-sum-price-p">
                        مالیات بر ارزش افزوده
                       <span class="Restaurant-shop-sum-icon2">؟</span>
                    </p>
                    <div>
                        <p class="Restaurant-fic-price Restaurant-shop-sum-icon" >0</p>
                        <span content="تومان" class="Restaurant-fic-currency">تومان</span>
                    </div>
                    <div class="component_tooltip place-top type-dark "></div>
                </div>
                <div class="Restaurant-shop-sum-price">
                    <p class="Restaurant-shop-sum-price-p">
                        هزینه بسته‌بندی
                        <span class="Restaurant-shop-sum-icon2" >؟</span>
                    </p>
                    <div>
                        <p class="Restaurant-fic-price Restaurant-shop-sum-icon" >0</p>
                        <span content="تومان" class="Restaurant-fic-currency" >تومان</span>
                    </div>
                    <div class="component_tooltip place-top type-dark "></div>
                </div>
                <div class="Restaurant-shop-sum-price">
                    <p class="shop-section-address ">
                       هزینه ارسال پس از تعیین آدرس مشخص خواهد شد
                        <span class="Restaurant-shop-sum-icon2" >؟</span>
                    </p>
                    <div class="component_tooltip place-top type-dark "></div>
                </div>
                <div class="shop-section-off">
                    <div class="shop-section-off-inner">
                        <div class="coupon-validator shop-section-off-inner">
                            <div class="shop-section-off-inner2">
                                <div class="search-food-single-box shop-section-off-inner3">
                                    <input placeholder="کد تخفیف خود را وارد نمایید" class="search-food-single-input" >
                                    <span class="search-food-single-input-span"></span>
                                    <label class="search-food-single-label">کد تخفیف دارید؟</label>
                                    <div style="display: none;">
                                        <span class="search-food-redLine1search-food-redLine2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><g fill="none" fill-rule="evenodd"><path fill="currentColor" fill-rule="nonzero" d="M9 1.5A7.493 7.493 0 0 0 1.5 9c0 4.148 3.353 7.5 7.5 7.5 4.148 0 7.5-3.352 7.5-7.5 0-4.147-3.352-7.5-7.5-7.5zm3.75 10.193l-1.057 1.057L9 10.057 6.308 12.75 5.25 11.693 7.942 9 5.25 6.308 6.308 5.25 9 7.942l2.693-2.692 1.057 1.058L10.057 9l2.693 2.693z"></path><path d="M0 0h18v18H0z"></path></g></svg></span>
                                    </div>
                                    <div class="search-food-empty-div"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-section-sum-price-custmer">
                    <p class="sum-price-custmer-p">جمع سفارش شما</p>
                    <div class="sum-price-custmer-div">
                        <span class="Restaurant-fic-price sum-price-custmer-p">0</span>
                        <span content="تومان" class="Restaurant-fic-currency">تومان</span>
                    </div>
                </div>
                <button class="sum-price-custmer-button sum-price-custmer-button2">
                    <p class="sum-price-custmer-currency-p"> حداقل سفارش 30,000تومان </p>
                    <div class="sum-price-custmer-currency-p2 sum-price-custmer-div" >
                        <span class="Restaurant-fic-price sum-price-custmer-icon">0</span>
                        <span content="تومان" class="Restaurant-fic-currency">تومان</span>
                    </div>
                </button>
            </section>
        </div>
    </div>
</div>

<!--footer section-->
<div id="footer-c">
    <footer-component></footer-component>
</div>

<script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="../JavaScript/header-component.js"></script>
<script src="../JavaScript/footer-component.js"></script>
<script src="../JavaScript/singleRestaurant_component.js"></script>
</body>
</html>
